.form{
    background-color: rgba(126, 67, 56, 0.5);
    border: 2px solid rgb(143, 11, 11);
        height: 350px;
    width: 350px;
    margin-top: 10%;
    margin-left: 37%;
    border-radius: 40%;
    position: relative;
    box-shadow: 20px black;
    
}
.input{
    margin-top: 15%;
    margin-left: 25%;
    position: absolute;
    font-size: 20px;
    color: rgb(241, 238, 245);
    height: 20px;

}
a{
    margin-top: 50px;
   

}
body{
    background-image: url('http://4.bp.blogspot.com/-fhGRdos5UQ0/Ugi12TiQmjI/AAAAAAAAXtg/9ARIVejUChk/s1600/Scenery+Wallpapers+for+Desktop.jpg');
    height: px;
    width: 1350px;
    background-repeat: no-repeat;
    background-size: cover;
   
}